<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lukman.timetableapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/timetable_schedule_system"
        android:label="@string/app_name"
        android:roundIcon="@drawable/timetable_schedule_system"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeTableApp">
        <activity
            android:name=".ViewExamTime"
            android:exported="true">

        </activity>
        <activity
            android:name=".EditDepartment"
            android:exported="false" />
        <activity
            android:name=".ViewTimeTable"
            android:exported="false"
            android:label="TimeTable"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExamSchedule"
            android:exported="false"
            android:label="Set TimeTable"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewCourseActivity"
            android:exported="false"
            android:label="View Course"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewDepartment"
            android:exported="false"
            android:label="View Department"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegDepartment"
            android:exported="false"
            android:label="Reg Department"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewVenue"
            android:exported="false"
            android:label="View Venue"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SetExamTime"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditVenue"
            android:exported="false"
            android:label="Edit Venue"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ExamVenue"
            android:exported="false"
            android:label="Register Venue"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Register Course"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditActivity"
            android:exported="false"
            android:label="Edit Course"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>